*.iml
.idea
.classpath

/**/target
.project/
.project
.settings/
.factorypath

*.jar

dependency-reduced-pom.xml

.DS_Store

build/_output
vendor/
/cmd/manager/manager
/**/classes
/**/.attach*
/examples/go/backup-secrets.yaml
.local_build_env

.vscode/
/helm/cassandra-*.tgz
/helm/cassandra-operator-*.tgz
/helm/index.yaml
/docker/cassandra/cassandra-3/debs/*
/docker/cassandra/cassandra-4/debs/*
/docker/cassandra/cassandra-3/jars/*
/docker/cassandra/cassandra-4/jars/*
