<configuration>
    <conversionRule conversionWord="exdetails"
                    converterClass="com.instaclustr.logback.ExceptionDetailsConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %logger{36}: %message%replace( {%mdc}){' \{\}',''}%n%exdetails</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>