# Default values for cassandra.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 3

image:
  repository: gcr.io/cassandra-operator/cassandra-dev
  tag: latest

imagePullPolicy: Never

resources:
  limits:
    memory: 512Mi
  requests:
    memory: 512Mi
dataVolumeClaim:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi