apiVersion: stable.instaclustr.com/v1
kind: CassandraDataCenter
metadata:
  name: {{ template "cassandra.fullname" . }}
  labels:
    app: {{ template "cassandra.name" . }}
    chart: {{ template "cassandra.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- if .Values.labels }}
{{ toYaml .Values.labels | indent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  cassandraImage: "{{ .Values.image.cassandraRepository }}:{{ .Values.image.cassandraTag }}"
  sidecarImage: "{{ .Values.image.sidecarRepository }}:{{ .Values.image.sidecarTag }}"
  imagePullPolicy: {{ .Values.imagePullPolicy }}
  {{- if  .Values.imagePullSecret }}
  imagePullSecret: {{ .Values.imagePullSecret }}
  {{- else }}
  imagePullSecret: ""
  {{- end }}
  resources:
{{ toYaml .Values.resources | indent 4 }}
  dataVolumeClaim:
{{ toYaml .Values.dataVolumeClaim | indent 4 }}
{{- if .Values.env }}
  env:
{{ toYaml .Values.env | indent 4 }}
{{- end }}
{{- if .Values.restoreFromBackup }}
  restoreFromBackup: {{ .Values.restoreFromBackup }}
{{- end }}
{{- if .Values.userConfigMapVolumeSource }}
  userConfigMapVolumeSource:
{{ toYaml .Values.userConfigMapVolumeSource | indent 4 }}
{{- end }}
{{- if .Values.userSecretVolumeSource }}
  userSecretVolumeSource:
{{ toYaml .Values.userSecretVolumeSource | indent 4 }}
{{- end }}
  prometheusSupport: {{ .Values.prometheusEnabled }}
  privilegedSupported: {{ .Values.privilegedSupported }}